:root{
    --cor-texto-principal:#000000 ;
    --cor-texto-secundario: #000000; 
    --botao-principal: #9b0303;
    --botao-secundario: #b30000;
}

body{
    background-color: var(--botao-secundario);
    color:var(--cor-texto-principal);
}


*{
    margin: 0;
    padding: 0;
}



.principal{
background-image: url(3.jpg);
background-repeat: no-repeat;
background-size: cover;
text-align: center;
align-items: center;
}
.cover{
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 50% 25%;

}

h1{
    font-size: 60px;
    color: #b40000;
}

.cover--botao{
    background-color: var(--botao-principal);
    color: var(--botao-secundario);
    padding: 1em;
    border-radius: 4px;
    text-decoration: none;
}

.botao--secundario{
    background-color: transparent;
    color: #000000;

    border: 2px solid var(--cor-texto-principal);
}
.cover--caixa{
    margin: 0 6em;
}
.cover--img{
    margin: 1em 0 2em 0; 
}
